/* reset */
*{margin: 0;
padding: 0;
box-sizing: border-box;}

.container{
    width: 80%;
    margin: 3rem auto;
}
.row{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
}

.card{
    width: 100px;
    height: 100px;
    background-color: aqua;
}

.fizz{
    background-color: rgb(118, 118, 30);
}
.buzz{
    background-color: blueviolet;
}
.fizz-buzz{
    background-color: brown;
}